@model Chesslab.ViewModels.ArticleViewModel

<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), 
             url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), 
             url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }
 
    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        
    }
 
    .glyphicon-chevron-right:before {
        content: "\f054";
    }
 
    .glyphicon-chevron-left:before {
        content: "\f053";
    }
    .row {
        margin-left: 120px;
        margin-top: 20px;
    }
    .form-group-2 {
        margin-top: 10px;
    }
    .form-group-3 {
        margin-top: 10px;
    }
    .btn btn-info btn-lg btn-block {
        background: black;
    }
    .write-article {
        margin-top: 10px;
        background: white;
    }
    
</style>
<div class="row">
    <div class="col-xs-10 col-sm-7">
        <div class="shadow-sm p-3 mb-5 bg-white rounded"> 
            <h3>Статьи</h3>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Дата написания</th>
                </tr>
                </thead>

                @foreach (Article a in Model.articles)
                {
                    <tr><td><a href="~/article/view?articleId=@a.Id">@a.Postname</a></td><td>@a.AuthorName</td><td>@a.PublishDate</td></tr>
                }
            </table>
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   class="btn btn-outline-dark">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Назад
                </a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Index"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   class="btn btn-outline-dark">
                    Вперед
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            }
        </div>
    </div>
    <div class="col-xs-10 col-sm-3">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">
            <h3>Поиск статей</h3>
            <form asp-action="index" asp-controller="Article" asp-antiforgery="true">
                <div class="form-group">
                    <select class="form-select" aria-label="Default select example" asp-for="ArticleSearchViewModel.ChosenCategory" required="true">
                        <option selected>Выбор темы</option>
                        <option value="1">Дебют</option>
                        <option value="2">Миттельшпиль</option>
                        <option value="3">"Эндшпиль"</option>
                        <option value="4">"Турниры"</option>
                        <option value="5">"Разбор партий"</option>
                        <option value="6">"Рапид и блиц"</option>
                    </select>
                </div>

                <div class="form-group-2">
                    <select class="form-select" asp-for="ArticleSearchViewModel.ChosenPeriod" required="true">
                        <option selected>Год написания</option>
                        <option value="1">до 2010</option>
                        <option value="2">от 2010 до 2015</option>
                        <option value="3">от 2015</option>
                    </select>
                </div>
                <div class="form-group-3">
                    <button class="btn btn-outline-dark" type="submit">Искать</button>
                </div>
            </form>
        </div>
        <a class="btn btn-outline-dark write-article" href="~/article/write" role="button">Написать статью</a>

    </div>
</div>
<div class="row">
    <div class="col-xs-10 col-sm-10 shadow-sm p-3 mb-5 bg-white rounded">
        <h3>Дополнительные источники</h3>
        <p>При изучении шахматных работ как на мастерском так и гроссмейстерском уровнях предстоит работа как с русскими, так и с зарубежными источниками.</p>
        <p style="font-size: 20px">Список наиболее полезных и обширных источников:</p>
        <dl class="row">
        <dt class="col-sm-3"><a href="https://www.chess.com/articles">Сhess.com</a></dt>
            <dd class="col-sm-9">Статьи на данном ресурсе представляют включают в себя немного развлекательной составляющей, при этом в них можно подчеркнуть много полезной информации.</dd>

            <dt class="col-sm-3">
                <a href="https://chessok.net/article/">Chessok.net</a>
            </dt>
        <dd class="col-sm-9">
            Шахматные статьи на данном ресурсе представлены в виде задач и лаконичного описания идеи в приведённой работе.
        </dd>

            <dt class="col-sm-3">
                <a href="https://chesswood.ru/articles">Chesswood.ru</a>
            </dt>
        <dd class="col-sm-9">Портал представляет статьи на различные около шахматные темы. Будет интерес шахматным новичкам и людям, интересующим около шахматной жизнью.</dd>
        </dl>

    </div>
</div>
